.contacts {
  width: 389px;
  padding-left: 90px;

  border-left: 1px solid #d7d9df;

  @media #{$screen-tablet} {
    width: 331px;
    padding-left: 50px;
  }

  @media #{$screen-mobile} {
    width: auto;

    border-left: 0;
    border-top: 1px solid #d7d9df;
  }
}

.contacts__title {
  margin-bottom: 16px;

  @media #{$screen-tablet} {
    margin-bottom: 20px;
  }
}

.contacts__list {

}

.contacts__item {
  margin-bottom: 15px;
}

.contacts__link {
  color: $red;
  text-decoration: underline;

  &--mail {
    @include fz-lh(14px, 17px);
  }

  &--phone {
    font-size: 16px;
  }
}

.contacts__icon {
  margin-right: 11px;

  &--mail {
    fill: #d7d9df;
  }

  &--phone {
    fill: none;
    color: #d7d9df;
  }
}

.contacts__mail-mobile {
  display: none;

  @media (max-width: $tablet-width-only) {
    display: inline;
  }
}

.contacts__mail-desktop {
  display: inline;

  @media #{$screen-tablet} {
    display: none;
  }
}
