.feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  min-height: 455px;
  margin-bottom: 70px;

  background-repeat: no-repeat;
  background-image: url("../img/feedback-bg-desktop@1x.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/feedback-bg-desktop@2x.jpg");
    background-size: 844px auto;
  }

  @media #{$screen-tablet} {
    align-items: center;

    margin-bottom: 40px;

    background-image: url("../img/feedback-bg-tablet@1x.jpg");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/feedback-bg-tablet@2x.jpg");
    }
  }

  @media #{$screen-mobile} {
    display: block;

    min-height: auto;
    margin-bottom: 35px;

    background-image: none;
    background-color: $light;
  }
}

.feedback__container {
  width: 656px;
  padding: 50px 48px 49px 51px;

  text-align: center;
  color: $text-color-dark;

  background-color: $white;
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(41, 54, 66, 0.1);

  @media #{$screen-tablet} {
    width: 658px;
    padding: 50px;
  }

  @media #{$screen-mobile} {
    width: 288px;
    margin: 0 auto;
    padding: 50px 0;

    background: none;
    border-radius: 0;
    box-shadow: none;
  }
}

.feedback__title {
  @include fz-lh(25px, 128%);

  margin: 0;
  margin-bottom: 15px;

  font-weight: 600;

  @media #{$screen-mobile} {
    margin-bottom: 20px;
  }
}

.feedback__description {
  @include fz-lh(16px, 150%);

  margin: 0;
  margin-bottom: 24px;

  font-weight: normal;

  @media #{$screen-tablet} {
    margin-bottom: 20px;
  }
}

.feedback__form {

}
