.form__container {
  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  margin-bottom: 25px;

  .modal-order & {
    grid-template-columns: 1fr;
  }

  @media #{$screen-tablet} {
    margin-bottom: 20px;
  }

  @media #{$screen-mobile} {
    grid-template-columns: 1fr;
    margin-bottom: 15px;

    .modal-order & {
      margin-bottom: 19px;
    }
  }
}

.form__field {
  margin: 0;
}

.form__input {
  width: 100%;
  padding: 16px 15px 15px 26px;

  background-color: $white;
  border: 1px solid rgba($grey, 0.3);

  &::placeholder {
    @include fz-lh(14px, 17px);

    color: $text-color-dark;
  }
}

.form__icon {
  position: absolute;
  top: 6px;
  left: 15px;
}

.form__button {
  width: 176px;
  padding-top: 18px;
  padding-bottom: 17px;

  @media #{$screen-tablet} {
    width: 250px;
    padding-top: 19px;
    padding-bottom: 19px;
  }

  @media #{$screen-mobile} {
    width: 100%;
  }
}
