.future-tours {
  width: 401px;
  padding-right: 30px;
  padding-left: 13px;

  @media #{$screen-tablet} {
    width: 54.4%;
    padding-right: 50px;
    padding-left: 0;
  }

  @media #{$screen-mobile} {
    width: auto;
    padding-right: 0;
    padding-bottom: 20px;
  }
}

.future-tours__title {

}

.future-tours__container {
  display: flex;
  flex-wrap: wrap;

  @media #{$screen-mobile} {
    justify-content: center;
  }
}

.future-tours__list {
  @include fz-lh(14px, 17px);

  display: flex;
  flex-direction: column;

  margin-right: 50px;
  margin-bottom: 10px;

  @media #{$screen-tablet} {
    margin-right: 7.6%;
    margin-bottom: 0;
  }

  @media #{$screen-mobile} {
    width: 50%;
    margin: 0;
    text-align: center;
  }

  &:last-child {
    margin-right: 0;
  }
}

.future-tours__link {
  margin-bottom: 10px;

  color: $text-color-dark;

  opacity: 0.5;

  &:hover,
  &:focus {
    color: $red;

    opacity: 1;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
