.intro {
  background-color: $grey;
  background-image: url("../img/mountains-desktop@1x.jpg");
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/mountains-desktop@2x.jpg");
  }

  @media #{$screen-tablet} {
    background-image: url("../img/mountains-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/mountains-tablet@2x.jpg");
    }
  }

  @media #{$screen-mobile} {
    background: none;
  }
}

.intro__block {
  width: 470px;
  margin-left: auto;
  padding-top: 185px;
  padding-bottom: 296px;

  @media #{$screen-tablet} {
    width: 400px;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 83px;

    text-align: center;
  }

  @media #{$screen-mobile} {
    width: auto;
    padding: 0;
  }
}

.intro__title {
  max-width: 412px;
  margin: 0;
  margin-bottom: 30px;

  @media #{$screen-tablet} {
    max-width: none;
    margin-bottom: 15px;
  }

  @media #{$screen-mobile} {
    margin-bottom: 14px;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    padding: 81px 20px;

    background-image: url("../img/mountains-mobile@1x.jpg");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/mountains-mobile@2x.jpg");
    }
  }
}

.intro__description {
  @include fz-lh(16px, 170%);

  max-width: 376px;
  margin: 0;
  margin-bottom: 35px;

  color: $white;
  letter-spacing: -0.46px;

  @media #{$screen-tablet} {
    max-width: none;
    margin-bottom: 15px;
  }

  @media #{$screen-mobile} {
    margin-bottom: 20px;

    color: inherit;
  }
}

.intro__button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  width: 340px;
  padding-left: 40px;
  padding-right: 40px;

  @media #{$screen-tablet} {
    width: 250px;
  }

  @media #{$screen-mobile} {
    width: 100%;
    max-width: 288px;
  }
}

.intro__button-icon {
  fill: none;
  stroke: $white;
}
