.main-nav {
  display: flex;
  align-items: center;

  min-height: 99px;

  @media #{$screen-tablet} {
    min-height: 50px;
  }
}

.main-nav__logo {
  margin-right: 30px;
}

.main-nav__site-nav {
  margin-right: 55px;

  @media #{$screen-tablet} {
    margin-right: 0;
  }
}

.main-nav__tel {
  width: 237px;

  color: $text-color-dark;

  &:hover,
  &:focus {
    color: $red;
  }

  &.telephone {
    @media #{$screen-tablet} {
      display: none;
    }
  }
}

.main-nav__toggle {
  position: relative;

  display: none;

  .main-nav--nojs & {
    display: none;
  }

  @media #{$screen-mobile} {
    display: block;
  }
}

.main-nav--closed .main-nav__toggle {
  width: 72px;
  height: 50px;
  margin-left: auto;
  margin-right: -20px;

  background-color: $button-color;

  &::before {
    content: "";
    position: absolute;
    top: 18px;
    left: 25px;
    width: 22px;
    height: 1px;

    background-color: $white;
    box-shadow: 0 5px 0 0 $white, 0 10px 0 0 $white;

    @media #{$screen-mobile} {
      left: 15px;
    }
  }

  @media #{$screen-mobile} {
    width: 50px;
    margin-right: -15px;
  }
}
