.main-title {
  @include fz-lh(55px, 145%);

  font-weight: 600;
  color: $white;

  letter-spacing: -1px;


  @media #{$screen-tablet} {
    font-size: 30px;
    text-align: center;
    letter-spacing: normal;
  }

  @media #{$screen-mobile} {
    @include fz-lh(24px, 150%);
  }
}
