.main-nav {
  display: flex;
  align-items: center;
}

.main-nav__logo {
  margin-right: 30px;
}

.main-nav__site-nav {
  margin-right: 58px;
}

.main-nav__tel {
  width: 237px;

  color: $text-color-dark;

  &:hover,
  &:focus {
    color: $red;
  }
}

.main-nav__toggle {
  display: none;
}
