.modal-thx {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;

  display: none;
  justify-content: center;
  align-items: center;

  width: 728px;
  height: 444px;

  background-color: $light;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);

  transform: translate(-50%, -50%);
}

.modal-thx__text {
  @include fz-lh(25px, 170%);

  margin: 0;

  text-align: center;
  font-weight: 500;
  color: #48494d;
}

.modal-thx--open {
  display: flex;
}

.modal-thx__close {

}
