.places {
  padding-top: 199px;

  @media #{$screen-tablet} {
    padding-top: 80px;
    padding-bottom: 38px;
  }

  @media #{$screen-mobile} {
    padding-top: 108px;
    padding-bottom: 20px;
  }
}

.places__title {
  position: relative;

  max-width: 360px;
  margin-bottom: 32px;
  padding-bottom: 34px;

  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    width: 228px;
    height: 4px;

    background-color: $red;
  }

  @media #{$screen-tablet} {
    max-width: none;
    margin-bottom: 22px;
    padding-bottom: 0;

    &::after {
      display: none;
    }
  }

  @media #{$screen-mobile} {
    margin-bottom: 20px;
  }
}

.places__subtitle {
  @include fz-lh(16px, 175%);

  margin: 0;
  margin-bottom: 56px;

  color: rgba($grey, 0.7);
  letter-spacing: -0.5px;

  @media #{$screen-tablet} {
    margin-bottom: 40px;

    text-align: center;
  }

  @media #{$screen-mobile} {
    margin-bottom: 20px;
  }
}

.places__preview-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media #{$screen-mobile} {
    display: block;
  }
}

.places__preview-item {
  width: 350px;
  margin-right: 60px;
  margin-bottom: 101px;

  &:last-child {
    margin-right: 0;
  }

  @media #{$screen-desktop} {
    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  @media (min-width: $tablet-width) and #{$screen-tablet} {
    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @media #{$screen-tablet} {
    width: calc(100% * 0.79 / 2);
    margin-right: 4%;
    margin-bottom: 3%;
  }

  @media #{$screen-mobile} {
    width: auto;
    margin-bottom: 30px;
    margin-right: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
