.place-about {
  @media #{$screen-desktop} {
    display: flex;
    justify-content: space-between;
  }
}

.place-about__description {
  width: auto;

  text-align: center;

  @media #{$screen-tablet} {
    padding-bottom: 30px;
  }

  @media #{$screen-desktop} {
    width: 370px;
    padding-top: 11px;
    padding-bottom: 16px;

    text-align: left;
  }
}

.place-about__title {
  position: relative;

  margin-bottom: 20px;

  @media #{$screen-desktop} {
    margin-bottom: 30px;
    padding-bottom: 17px;

    line-height: 164%;

    &::after {
      content: "";

      position: absolute;
      bottom: 0;
      left: 0;

      width: 175px;
      height: 4px;

      background-color: $red;
    }
  }
}

.place-about__text {
  @include fz-lh(16px, 175%);

  margin: 0;

  letter-spacing: -0.46px;
  color: rgba($text-color, 0.7);

  @media #{$screen-tablet} {
    margin-bottom: 20px;
  }

  @media #{$screen-desktop} {
    margin-bottom: 50px;
  }
}

.place-about__button {
  @media #{$screen-tablet} {
    width: 250px;
  }
}

.place-about__feedback-container {
  @include retina-full(greece);
  @include retina-full(albania);
  @include retina-full(macedonia);
  @include retina-full(montenegro);
  @include retina-full(croatia);

  @media #{$screen-desktop} {
    width: 700px;
  }
}

.place-about__feedback {
  margin: 0 auto;

  background-color: $white;

  @media #{$screen-tablet} {
    width: 382px;
    padding: 30px;
  }

  @media #{$screen-desktop} {
    margin-left: auto;
    margin-top: 114px;
    margin-bottom: 115px;
    margin-right: 0;
  }
}

.place-about__feedback-title {
  @include fz-lh(20px, 24px);

  position: relative;

  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 11px;

  font-weight: 500;
  text-align: center;
  letter-spacing: -0.7px;

  @media #{$screen-tablet} {
    @include fz-lh(30px, 37px);

    text-align: left;
  }

  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    width: 68px;
    height: 1px;

    background-color: $red;
  }
}

.place-about__feedback-text {
  @include fz-lh(14px, 200%);

  margin: 0;

  text-align: center;
  letter-spacing: -0.4px;

  opacity: 0.7;

  @media #{$screen-tablet} {
    margin-bottom: 35px;

    text-align: left;
  }
}

.place-about__feedback-author {
  @include fz-lh(16px, 20px);

  margin: 0;

  text-align: center;
  font-weight: 500;
  letter-spacing: -0.5px;

  @media #{$screen-tablet} {
    display: flex;
    align-items: center;

    text-align: left;
  }

  &::before {
    content: "";

    display: block;

    width: 37px;
    height: 38px;

    background-repeat: no-repeat;

    @media #{$screen-tablet} {
      margin-right: 16px;
    }
  }

  &--greece {
    &::before {
      background-image: url("../img/author-greece@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/author-greece@2x.png");
        background-size: 37px auto;
      }
    }
  }

  &--albania {
    &::before {
      background-image: url("../img/author-albania@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/author-albania@2x.png");
        background-size: 37px auto;
      }
    }
  }

  &--macedonia {
    &::before {
      background-image: url("../img/author-macedonia@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/author-macedonia@2x.png");
        background-size: 37px auto;
      }
    }
  }

  &--montenegro {
    &::before {
      background-image: url("../img/author-montenegro@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/author-montenegro@2x.png");
        background-size: 37px auto;
      }
    }
  }

  &--croatia {
    &::before {
      background-image: url("../img/author-croatia@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/author-croatia@2x.png");
        background-size: 37px auto;
      }
    }
  }
}
