.place-about {
  display: flex;
  justify-content: space-between;

  @media #{$screen-tablet} {
    display: block;
  }
}

.place-about__description {
  // outline: 1px solid tomato;

  width: 370px;
  padding-top: 11px;
  padding-bottom: 16px;

  @media #{$screen-tablet} {
    width: auto;
    padding-top: 0;
    padding-bottom: 30px;

    text-align: center;
  }
}

.place-about__title {
  position: relative;

  margin-bottom: 30px;
  padding-bottom: 17px;

  line-height: 164%;

  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    width: 175px;
    height: 4px;

    background-color: $red;
  }

  @media #{$screen-tablet} {
    margin-bottom: 20px;
    padding-bottom: 0;

    line-height: 150%;

    &::after {
      display: none;
    }
  }
}

.place-about__text {
  @include fz-lh(16px, 175%);

  margin: 0;
  margin-bottom: 50px;

  letter-spacing: -0.46px;
  color: rgba($text-color, 0.7);

  @media #{$screen-tablet} {
    margin-bottom: 20px;
  }
}

.place-about__button {
  width: 250px;

  @media #{$screen-mobile} {
    width: 100%;
    max-width: 288px;
  }
}

.place-about__feedback-container {
  // outline: 1px solid tomato;

  @include retina-full(greece);
  @include retina-full(albania);
  @include retina-full(macedonia);
  @include retina-full(montenegro);
  @include retina-full(croatia);

  width: 700px;

  @media #{$screen-tablet} {
    width: auto;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    padding-top: 80px;
    padding-bottom: 1px;

  }

  @media #{$screen-tablet} {
    padding-top: 50px;
  }
}

.place-about__feedback {
  width: 382px;
  margin: 114px 0 115px auto;
  padding: 30px;

  background-color: $white;

  @media #{$screen-tablet} {
    margin: 0 auto;
    margin-bottom: -32px;
  }

  @media #{$screen-mobile} {
    width: 268px;
    margin-bottom: -66px;
    padding: 30px 20px 34px;
  }
}

.place-about__feedback-title {
  @include fz-lh(30px, 37px);

  position: relative;

  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 11px;

  font-weight: 500;

  letter-spacing: -0.7px;

  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    width: 68px;
    height: 1px;

    background-color: $red;
  }

  @media #{$screen-mobile} {
    @include fz-lh(20px, 24px);

    text-align: center;
  }
}

.place-about__feedback-text {
  @include fz-lh(14px, 200%);

  margin: 0;
  margin-bottom: 33px;

  letter-spacing: -0.4px;

  opacity: 0.7;

  @media #{$screen-mobile} {
    margin-bottom: 20px;

    text-align: center;
  }
}

.place-about__feedback-author {
  @include fz-lh(16px, 20px);

  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 0;

  font-weight: 500;
  letter-spacing: -0.5px;

  @media #{$screen-mobile} {
    flex-direction: column;

    // text-align: center;
  }

  &::before {
    content: "";

    display: block;

    width: 37px;
    height: 38px;
    margin-right: 16px;

    background-repeat: no-repeat;

    @media #{$screen-mobile} {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  &--greece {
    &::before {
      background-image: url("../img/author-greece@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/author-greece@2x.png");
        background-size: 37px auto;
      }
    }
  }

  &--albania {
    &::before {
      background-image: url("../img/author-albania@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/author-albania@2x.png");
        background-size: 37px auto;
      }
    }
  }

  &--macedonia {
    &::before {
      background-image: url("../img/author-macedonia@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/author-macedonia@2x.png");
        background-size: 37px auto;
      }
    }
  }

  &--montenegro {
    &::before {
      background-image: url("../img/author-montenegro@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/author-montenegro@2x.png");
        background-size: 37px auto;
      }
    }
  }

  &--croatia {
    &::before {
      background-image: url("../img/author-croatia@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/author-croatia@2x.png");
        background-size: 37px auto;
      }
    }
  }
}
