.price-option {
  position: relative;

  display: flex;
  flex-direction: column;

  padding: 40px 30px 30px;

  background-color: $white;
  border: 1px solid rgba($grey, 0.3);
  border-radius: 6px;

  &::before {
    content: "";

    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    z-index: -1;

    display: none;

    border-radius: 6px;
    border: 2px solid $red;

    @media #{$screen-tablet} {
      border-radius: 6px 6px 0 0;
    }
  }

  &:hover {
    border: 1px solid $red;

    &::before {
      display: block;
    }

    .price-option__info {
      color: rgba($red, 1);
    }

    .price-option__text::after {
      background-color: $red;
      opacity: 1;
    }

    .price-option__feature::before {
      background-image: url("../img/checkbox-fav.svg");
    }
  }

  @media #{$screen-tablet} {
    border-radius: 6px 6px 0 0;
    padding: 30px 0 0;
  }
}

.price-option__info {
  display: flex;
  justify-content: space-between;

  margin-bottom: 36px;

  color: rgba($black, 0.7);

  @media #{$screen-tablet} {
    display: block;

    padding: 0 20px;
    margin-bottom: 11px;

    text-align: center;
  }
}

.price-option__name {
  @include fz-lh(28px, 38px);

  margin: 0;

  font-weight: 600;
  letter-spacing: -1.3px;

  @media #{$screen-tablet} {
    font-size: 24px;
  }
}

.price-option__num {
  @include fz-lh(25px, 136%);

  margin: 0;

  font-weight: 700;
}

.price-option__text {
  @include fz-lh(16px, 150%);

  position: relative;

  margin: 0;
  margin-bottom: 30px;
  padding-bottom: 29px;
  padding-right: 43px;

  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: $grey;
    opacity: 0.3;
  }

  @media #{$screen-tablet} {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-right: 0;

    text-align: center;
  }
}

.price-option__features-list {
  @include fz-lh(16px, 200%);

  margin-bottom: 30px;

  @media #{$screen-tablet} {
    padding: 0 20px;
  }
}

.price-option__feature {
  position: relative;

  margin-bottom: 15px;
  padding-left: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";

    position: absolute;
    top: 10px;
    left: 0;

    width: 14px;
    height: 12px;

    background-image: url("../img/checkbox.svg");
    background-repeat: no-repeat;
  }

  @media #{$screen-tablet} {
    margin-bottom: 10px;
  }
}

.price-option__button {
  width: 100%;
  margin-top: auto;

  @media #{$screen-mobile} {
    // max-width: 288px;
  }
}
