.price {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  padding-top: 137px;
  padding-bottom: 138px;

  @media #{$screen-tablet} {
    display: block;

    padding-top: 112px;
    padding-bottom: 124px;
  }

  @media #{$screen-mobile} {
    padding-top: 111px;
    padding-bottom: 50px;
  }
}

.price__info {
  width: 291px;
  padding-top: 114px;
  padding-bottom: 95px;

  @media #{$screen-tablet} {
    width: auto;
    padding-top: 0;
    padding-bottom: 30px;

    text-align: center;
  }
}

.price__title {
  position: relative;

  margin-bottom: 30px;
  padding-bottom: 17px;

  line-height: 164%;

  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    width: 175px;
    height: 3px;

    background-color: $red;
  }

  @media #{$screen-tablet} {
    margin-bottom: 19px;
    padding-bottom: 0;

    line-height: 150%;

    &::after {
      display: none;
    }
  }
}

.price__description {
  @include fz-lh(16px, 170%);

  margin: 0;
  margin-bottom: 60px;

  opacity: 0.7;

  @media #{$screen-tablet} {
    margin-bottom: 33px;
  }

  @media #{$screen-mobile} {
    margin-bottom: 20px;
  }
}

.price__action {
  @include fz-lh(22px, 34px);

  margin: 0;
  margin-bottom: 13px;
  margin-left: 46px;

  font-weight: 500;
  color: $text-color-dark;

  @media #{$screen-tablet} {
    margin-bottom: 10px;
    margin-left: 0;

    font-size: 18px;
  }
}

.price__contacts {
  font-size: 20px;
  color: black;
  text-decoration: none;

  @media #{$screen-tablet} {
    text-decoration: underline;
    font-size: 18px;
    color: $red;

    & .telephone__icon {
      display: none;
    }
  }
}

.price__list {
  display: flex;
  justify-content: center;

  @media #{$screen-mobile} {
    display: block;
  }
}

.price__item {
  display: flex;

  width: 370px;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }

  @media #{$screen-tablet} {
    width: calc(100% * 0.79 / 2);
    max-width: 370px;
    margin-right: 6.9%;
  }

  @media #{$screen-mobile} {
    display: block;

    width: auto;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;

    &:last-child {
      margin-bottom: 0;
      margin-right: auto;
    }
  }
}
