.telephone {
  @include fz-lh(18px, 32px);

  display: flex;
  align-items: center;

  text-decoration: underline;

  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.telephone__icon {
  margin-right: 6px;

  fill: none;

  &--price {
    margin-right: 20px;

    color: $red;
  }
}
