.telephone {
  @include fz-lh(18px, 32px);

  display: inline-flex;
  align-items: center;

  text-decoration: underline;
}


.telephone__icon {
  margin-right: 6px;

  fill: none;

  .price__contacts & {
    margin-right: 20px;

    color: $red;
  }
}
