.title {
  @include fz-lh(55px, 145%);

  margin: 0;

  font-weight: 600;
  letter-spacing: -1.2px;

  @media #{$screen-tablet} {
    font-size: 30px;
    text-align: center;
    letter-spacing: normal;
  }

  @media #{$screen-mobile} {
    @include fz-lh(24px, 150%);
  }
}
