.wrapper {
  width: 1170px;
  margin: 0 auto;

  @media #{$screen-tablet} {
    width: $tablet-width;
    padding: 0 20px;
  }

  @media #{$screen-mobile} {
    width: $mobile-width;
    padding: 0 15px;
  }
}
