.wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 15px;

  @media #{$screen-tablet} {
    width: $tablet-width;
    padding: 0 20px;
  }

  @media #{$screen-desktop} {
    width: 1170px;
    padding: 0;
  }
}
